
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}


header {
    background-color: #2196F3;
    color: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    padding: 20px; /* Added padding to header */
    text-align: center; /* Center-align text in header */
}

header h3 {
    font-size: 24px;
    margin: 0;
}


nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    font-size: 16px;
}

nav ul li a:hover {
    color: #E91E63;
}

/* Main content styles */
main {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f2f2f2;
}
.search-bar {
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

#search-select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

#search-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#search-button {
    padding: 10px 20px;
    background-color: #E91E63;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #C2185B;
}